<div class="card mx-auto my-2 individual">
    <h2 class="card-title text-center">User</h2>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Breed:</b> asd</li>
        <li class="list-group-item"><b>Species:</b> asd</li>
        <li class="list-group-item"><b>Sex:</b> asd</li>
    </ul>
</div>